/* ================================= 
  Base Element Styles
==================================== */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;  
  font-family: 'Castoro', serif;
}

h1 {
  margin: 0;
  padding: 1.25em;
  font-size: 20px;
}

h2 {
  margin: 25px 0 15px;
  text-align: center;
  font-size: 20px;
  color: rgb(50, 62, 87);
}

header {
  text-align: center;
  color: white;
  background-color: rgb(50, 62, 87);
}

main {
  margin: 20px 15px;
}

fieldset {
  border: none;
}

legend {
  font-size: 20px;
  color: rgb(50, 62, 87);
  font-weight: bold;
}



/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Layout Containers ---- */

.intro {
  text-align: center;
  color: rgb(199, 197, 197);
  margin: 0 0 2px 0;
  padding-bottom: 35px;
  border-bottom: 4px solid rgb(50, 62, 87);
}



/* ================================= 
  Media Queries
==================================== */

/* ----  Header/Navigation  ---- */

/* ----  Footer/Navigation  ---- */












