/* ================================= 
  Base Element Styles
==================================== */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;  
  font-family: 'Castoro', serif;
  color: #323e57;
  background-color: #b3ccf1;
}

h1 {
  margin: 0;
  padding: 1.25em;
  font-size: 20px;
}

h2 {
  margin: 25px 0 15px;
  text-align: center;
  font-size: 20px;
  color: #77213e;
}

header {
  text-align: center;
  color: white;
  background-color: #323e57;
}

main {
  margin: 20px 15px;
}

form {
  border-top: 2px solid #323e57;
  display: flex;
  flex-flow: column wrap;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  font-size: 20px;
  color: #77213e;
  font-weight: bold;
  padding: 30px 0 5px;
}

/* ================================= 
  Base Layout Styles
==================================== */
.intro {
  text-align: center;
  color: #ffe4e1;
  margin: 0 0 2px 0;
  padding-bottom: 35px;
  border-bottom: 4px solid #323e57;
}

/* ---- Contact Information Section ---- */
.contact {
  padding-bottom: 30px; 
  border-bottom: 2px solid #323e57;
}

.contact label {
  display: block;
  padding: 5px 0;
  margin: 20px 0 5px 0;
}

.contact input,
.contact select {
  display: block;
  padding: 0;
  margin: 0;
}

.contact input:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

.contact input,
.contact select {
  font-size: 18px;
  color: #323e57;
  background-color: #dde2dd;
  border: none;
  border-radius: 4px;
  height: 50px;
  width: 100%;
}

input#name::placeholder,
input#email::placeholder,
input#address1::placeholder,
input#city::placeholder,
input#zip::placeholder {
  font-size: 14px;
  font-style: italic;
  text-align: end;
  color: #615f5f;
}

#state {
  color: #615f5f;
}

input#zip {
  max-width: 50%;
}

/* ---- Newsletter Section ---- */
.choose {
  margin: 15px 0;
  color: #ffe4e1;
}

.news div {
  margin: 8px 0;
  padding: 5px 0;
}

.format {
  padding-top: 8px;
  font-weight: bold;
}

.news label {
  padding-left: 10px;
}

p[class*="format"] {
  color: #77213e;
}

/* ---- Other Topics Section ---- */
fieldset.topics {
  margin: 15px 0 25px;
}

label[for*="textbox"] {
  color:#ffe4e1;
}

.topics #textbox {
  margin-top: 15px;
  width: 100%;
  background-color: #dde2dd;
  border: none;
  border-radius: 4px;
}

/* ----  Button  ---- */
button {
  border: none;
  line-height: 2.5;
  padding: 5px 0;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  color: white;
  border-radius: 5px;
  background-color: #18a19b ;
}

/* ----  Footer  ---- */
footer {
  text-align: center;
  font-style: italic;
  font-size: 14px ;
  color: #615f5f;
}

/* ----  Focus/Active/Transistions/Checked ---- */
input:focus,
select:focus,
#textbox:focus {
  outline-color: #323e57;
  background-color: lemonchiffon;
  transition: all .8s;
}

.news input[type="checkbox"]:checked,
.news input[type="radio"]:checked {
  box-shadow: 0 0 0 5px  #77213e;
  border-radius: 8px; 
}

button:hover {
  background-color: #05879e;
}

button:active {
  background-color: #03504c;
  outline-color: #323e57;
}


/* ================================= 
  Media Queries
==================================== */
@media (min-width: 768px) {
    
  main {
    width: 40%;
    margin: auto;
  }

  /* .contact label,
  .contact input,
  .contact select {
    display: inline;
   
  } */

  /* .contact label {
    align-self: start;
    justify-content: right;
  }

  .contact input,
  .contact select {
    width: 75%;
    align-self: end;
  } */
  





}









